$primary-color: #b71c1c;
$secondary-color: #d32f2f;

// General
html {
	font-family: 'Open Sans', sans-serif;
	background-color: #fcfcfc;
}

.block {
	min-height: 100vh;
}

#header-map {
	z-index:-1;
	opacity: 0.12;
	position: absolute;
	top: -180px;
	margin-left: 10%;
	width: 80%;
}

hr {
	background-color: $primary-color; 
	height: 1px; 
	border: 0;
}

.animate-btn {
	margin-top: 40%;
}

// Bubbles
#bubble-section {
	opacity: 0;
}

#bubbles {
    width: 100%;
}

#bubble-slider {
	width: 50%;
}

// Map
#map-section {
	opacity: 0;
}

#map {
	width: 100%;
}

#map-slider {
	width: 50%;
}

// Time series
#time-series-section {
	opacity: 0;
}

// Materialize overwrites
.page-footer {
	background-color: $primary-color;
}

blockquote {
	border-left: 5px solid $primary-color;
}

.btn {
	background-color: $primary-color;
}

.btn:focus{ 
	background-color: $primary-color;
}

.btn:hover {
	background-color: $secondary-color;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid $primary-color;
	-webkit-box-shadow: 0 1px 0 0 $primary-color;
	-moz-box-shadow: 0 1px 0 0 $primary-color;
	box-shadow: 0 1px 0 0 $primary-color;
}