.country {
	fill: transparent;
	stroke: gray;
}

.map-legend-text {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

.map-popup {
	fill: black;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}